> #### 04월 18일 주피터노트북 실습1

In [ ]:
from matplotlib import font_manager, rc

font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()

rc('font', family=font_name)

In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('중간시험점수.csv', encoding='cp949', index_col=0, header=0)

# 데이터 보기
data.head()

      Alice  Bob  Carol  Dave  Erin
국어점수     49   80     20   100    80
수학점수     43   60     85    30    90
영어점수     49   82     48    50   100

In [2]:
# 평균 행 추가
data.loc['평균'] = data.mean().round(1)
   
# 평균 행을 가지고 막대 차트 그리기
data.loc['평균'].plot(kind='bar', title='학생별 성적', ylabel='전과목 점수 평균', xlabel='학생')
    
# 평균 행을 기준으로 학생들을 내림차순으로 정렬
sorted_data = data.sort_values(axis=1, by='평균', ascending=False)
    
# sorted_data 막대 차트 그리기
sorted_data.loc['평균'].plot(kind='bar', title='학생별 평균점수', ylabel='평균점수', xlabel='학생')

NameError: name 'data' is not defined