In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv('중간시험점수.csv', encoding='cp949')

data.head()

  Unnamed: 0  Alice  Bob  Carol  Dave  Erin
0       국어점수     49   80     20   100    80
1       수학점수     43   60     85    30    90
2       영어점수     49   82     48    50   100

In [3]:
data.loc['평균'] =  data.mean().round(1)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_14852\1470066568.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.loc['평균'] =  data.mean().round(1)

In [4]:
data.head()

   Unnamed: 0  Alice   Bob  Carol   Dave   Erin
0        국어점수   49.0  80.0   20.0  100.0   80.0
1        수학점수   43.0  60.0   85.0   30.0   90.0
2        영어점수   49.0  82.0   48.0   50.0  100.0
평균        NaN   47.0  74.0   51.0   60.0   90.0

In [ ]:
data.loc['평균'] =  data.mean().round(1)