In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('중간시험점수.csv', encoding='cp949', index_col=0, header=0)

data.head()

      Alice  Bob  Carol  Dave  Erin
국어점수     49   80     20   100    80
수학점수     43   60     85    30    90
영어점수     49   82     48    50   100

In [4]:
data.loc['평균'] = data.mean().round(1)

In [5]:
data.head()

      Alice   Bob  Carol   Dave   Erin
국어점수   49.0  80.0   20.0  100.0   80.0
수학점수   43.0  60.0   85.0   30.0   90.0
영어점수   49.0  82.0   48.0   50.0  100.0
평균     47.0  74.0   51.0   60.0   90.0

In [8]:
from matplotlib import font_manager, rc

font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()

rc('font', family=font_name)